.GameBoxCtnr {
  display: grid;
  place-content: center;
  height: calc(100vh - 24rem);

  .gameBox {
    
    display: flex;
    flex-direction: column;

    background-color: lightblue;

    @media screen and (min-width: 946px) {
      margin-block-start: 12rem;
    }
  }

}