.GameBoxCtnr {
  position: relative;
  display: grid;
  place-content: center;
  height: calc(100vh - 24rem);
  @media screen and (min-width: 946px) {
    margin-block-start: 7rem;
  }

  .gameBox {
    
    display: flex;
    flex-direction: column;

    background-color: lightblue;

  }

}