@use './variables' as v;

.App-header {
  background-color: v.$header-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  height: 100%;
  padding: .5rem;
  padding-block-end: 2rem;
  font-size: 1.3rem;
  color: white;

  .GoodsBox {
    width: 5.5rem;
    height: 5.5rem;

    img {
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}