@use './variables' as v;

.SelectRes {
  display: grid;
  align-content: center;
  text-align: center;
  background-color: v.$pre-good-select;
  width: 11.5rem;
  height: 10rem;
  border: 1px solid rgb(128, 105, 0);
  border-radius: 1rem;
  cursor: pointer;
}